@import '~bourbon/app/assets/stylesheets/bourbon';

.graph {
	$root: &;

	$fill: #e6f0fc;
	$stroke: #a0a0a0;
	$accent: #0085ff;
	$light-accent: #bfe0ff;
	$stroke-width: 2;
	$stroke-dasharray: 5, 5;
	$dx: 240;
	$dy: 80;
	$r: 18;
	font-size: 12px;
	@include e('paper') {
		width: 100%;
		border: 1px solid $stroke;
	}
	@include e('tools') {
		display: flex;
		justify-content: flex-end;
		margin-bottom: $base-padding;
	}
	@include e('tool') {

	}
	/deep/ {
		@include e('node-wrapper', $root) {
			cursor: pointer;
			overflow: hidden;
			&:hover, &.active {
				@include e('button', $root) {
					opacity: 1;
				}
			}
			@include m('phantom') {
				@include e('node', $root) {
					fill: transparent;
					stroke: $light-accent;
					stroke-dasharray: $stroke-dasharray;
				}
				@include e('node-text', $root) {
					fill: $light-accent;
				}
			}
			@include m('active') {
				@include e('node', $root) {
					stroke: $accent;
				}
			}
			@include m('initial') {
				cursor: default;
			}
		}
		@include e('node', $root) {
			fill: $fill;
			stroke: $stroke;
			stroke-width: $stroke-width;
		}
		@include e('node-text', $root) {
			stroke: $black;
			stroke-width: 0;
			text-anchor: middle;
			alignment-baseline: middle;
		}
		@include e('edge', $root) {
			cursor: pointer;
			fill: none;
			stroke: $stroke;
			stroke-width: $stroke-width;
		}
		@include e('edge-text-group', $root) {
			cursor: pointer;
		}
		@include e('edge-text-wrapper', $root) {
			overflow: visible;
		}
		@include e('edge-text', $root) {
			display: inline-block;
			background: $white;
			margin: 0;
			padding: 2px 5px;
			box-shadow: 0 0 1px 1px rgba(0,0,0,0.5);
			@include ellipsis(#{$dx - $r * 3}px);
			&:hover, &.active {
				@include ellipsis();
			}
		}
		@include e('edge-wrapper', $root) {
			@include m('phantom') {
				@include e('edge', $root) {
					//stroke: $light-accent;
					//stroke-dasharray: $stroke-dasharray;
				}
			}
		}
		@include e('buttons', $root) {
			&:hover, &.active {
				@include e('button', $root) {
					opacity: 1;
				}
			}
		}
		@include e('button', $root) {
			cursor: pointer;
			stroke-width: 1;
			stroke: $stroke;
			@include m('add') {
				@include e('button-wrapper', $root) {
					stroke: $success-color;
					fill: $white;
				}
				@include e('button-icon', $root) {
					stroke: $success-color;
				}
				&:hover, &.active {
					@include e('button-wrapper', $root) {
						fill: $success-color;
					}
					@include e('button-icon', $root) {
						stroke: $white;
					}
				}
			}
			@include m('remove') {
				opacity: 0;
				@include e('button-wrapper', $root) {
					stroke: $fail-color;
					fill: $white;
				}
				@include e('button-icon', $root) {
					stroke: $fail-color;
				}
				&:hover, &.active {
					@include e('button-wrapper', $root) {
						fill: $fail-color;
					}
					@include e('button-icon', $root) {
						stroke: $white;
					}
				}
			}
			@include m('anchor') {
				fill: $stroke;
				@include e('button-icon', $root) {
					transform: scale(0.6);
				}
				&:hover {
					fill: $accent;
					stroke: $accent;
				}
			}
		}

		@include e('button-icon', $root) {
			stroke-width: $stroke-width;
			transform: scale(0.5);
			transform-origin: 50% 50%;
		}
		@include e('button-wrapper', $root) {
			//stroke-width: $stroke-width;
		}
	}
}
