.tree {
	$root: &;
	$size: 40px;
	@include e('node') {
		display: inline-flex;
		justify-content: center;
		border: 1px solid #bbb;
		cursor: pointer;
		@include m('node') {
			border-radius: 500px;
			height: $size;
			width: $size;
			overflow: hidden;
			&:hover, &.active {
				width: auto;
				justify-content: space-between;
				@include e('node-title', $root) {
					display: inline-block;
				}
			}
			@include e('node-title', $root) {
				display: none;
			}
		}
		@include m('edge') {
			//border-color: transparent;
		}
		@include m('terminated') {
			font-weight: bold;
		}
		&:hover, &.active {
			> .tree__tools {
				opacity: 1;
			}
		}
	}
	
	@include e('node-title') {
		margin-bottom: 0;
		display: inline-block;
		padding: $size / 4 $size / 2;
		padding-left: 0;
		flex: 1 0 auto;
		@include m('full-pad') {
			padding: $size / 4 $size / 2;
		}
	}
	
	@include e('tools') {
		opacity: 0;
		display: flex;
		justify-content: center;
		flex-basis: $size;
		@include m('shifted') {
			//margin-top: 14px;
			position: relative;
			top: $size / 2;
		}
	}
	@include e('children-wrapper') {
		display: flex;
		flex-flow: row nowrap;
		margin-left: $size / 2;
		padding-bottom: $size / 2;
		&:before {
			content: '';
			display: block;
			width: 1px;
			border: 1px dashed #bbb;
		}
		@include m('single') {
			&:before {
				align-self: flex-start;
				height: $size + 2px;
			}
		}
		@include m('hidden') {
			//display: none;
		}
	}
	@include e('children') {
		//&:hover, &.active {
		//    > .tree__child--hidden {
		//		display: flex;
		//	}
		//}
	}
	@include e('child') {
		display: flex;
		flex-flow: row nowrap;
		//padding-top: $size / 2;
		&:before {
			margin-top: $size;
			content: '';
			display: block;
			height: 1px;
			width: $size;
			border: 1px dashed #bbb;
		}
		@include m('hidden') {
			//display: none;
		}
		
		&:hover, &.active {
			> .tree__tools {
				opacity: 1;
			}
		}
	}
	
	@include e('icon') {
		cursor: pointer;
		padding: 0 $size / 3;
		user-select: none;
		display: flex;
		align-items: center;
		@include m('add') { color: $success-color; }
		@include m('edit') { color: $neutral-color }
	}
	
	@include e('next-node') {
		position: relative;
		top: $size / 2;
	}
	
	//&:hover, &.active {
	//	> .tree__children-wrapper--hidden {
	//		display: flex;
	//	}
	//}
}
