<div class="editor" [ngSwitch]="entityType.name">
	<div class="editor__header">
		<i (click)="cancel()" class="fa fa-times fa-1hx editor__close"></i>
	</div>
	<div class="editor__content">
		<h2 class="editor__title">
			{{entity.id ? 'Редактирование' : 'Создание'}}
			{{entityType.name === 'transitions' ? 'перехода': 'состояния'}}
			<span *ngIf="entity.id">({{entity.id}})</span>
		</h2>
		<div *ngIf="loadingState.error" class="c-error">
			{{loadingState.error}}
		</div>
		<div class="editor__edits-wrapper">
			<div class="editor__form-wrapper">
				<form novalidate [formGroup]="form" class="c-form">
					<div *ngSwitchCase="'states'">
						<div class="c-form__input-group">
							<label class="c-form__label">Заголовок</label>
							<input formControlName="title"
								   class="c-form__input c-textbox">
						</div>
						<div class="c-form__input-group">
							<label class="c-form__label">Сообщение</label>
							<textarea formControlName="message"
									  class="c-form__input c-textbox c-textbox--multiline editor__message"></textarea>
						</div>
						<div class="c-form__input-group">
							<label class="c-form__label">Тип диалога</label>
							<c-select [items]="dialogTypes"
									  [selectedItems]="entity.dialogTypes"
									  (select)="onDialogTypeSelect($event)"
									  class="c-form__input"></c-select>
						</div>
						<div class="c-form__input-group">
							<label class="c-form__label">Данные диалога в Json</label>
							<textarea formControlName="dialogDataJson"
									  class="c-form__input c-textbox c-textbox--multiline"></textarea>
						</div>
					</div>
					<div *ngSwitchCase="'transitions'">
						<div class="c-form__input-group">
							<label class="c-form__label">Заголовок</label>
							<input formControlName="title"
								   class="c-form__input c-textbox">
						</div>
						<div class="c-form__input-group">
							<label class="c-form__label">Сообщение</label>
							<textarea formControlName="message"
									  class="c-form__input c-textbox c-textbox--multiline editor__message"></textarea>
						</div>
						<div class="c-form__input-group">
							<label class="c-form__label">Приоритет</label>
							<input formControlName="priority"
								   type="number"
								   class="c-form__input c-textbox">
							<div ngxErrors="priority" class="c-form__input-group-errors">
								<div ngxError="required" when="dirty"
									 class="c-form__input-group-error">
									Это поле обязательно
								</div>
							</div>
						</div>
						<div class="c-form__input-group">
							<label class="c-form__label">Требования к переходу</label>
							<input formControlName="transitionRequirements"
								   class="c-form__input c-textbox">
						</div>
						<div class="c-form__input-group">
							<label class="c-form__label">Данные перехода в Json</label>
							<textarea formControlName="transitionDataJson"
									  required
									  class="c-form__input c-textbox c-textbox--multiline"></textarea>
						</div>
						<div class="c-form__input-group">
							<label class="c-form__label">Целевое состояние</label>
							<c-select [items]="states"
									  [selectedItems]="entity.toStates"
									  (select)="onToStateSelect($event)"
									  class="c-form__input"></c-select>
						</div>
					</div>
					<div *ngSwitchDefault>Нечего редактировать</div>
				</form>
				<div class="editor__tools">
					<button [ladda]="loadingState.isLoading"
							(click)="submit()"
							class="c-button c-button--neutral editor__tool">Сохранить
					</button>
					<button [ladda]="loadingState.isLoading"
							(click)="cancel()"
							class="c-button editor__tool">Отмена
					</button>
				</div>
			</div>
			<div class="editor__list-wrapper" *ngIf="entityType.name === 'transitions' && entity.id">
				Примеры переходов:
				<ul class="editor__list">
					<li *ngFor="let example of transitionExamples"
						class="editor__list-item">
						<span class="editor__list-item-text">{{example.example}}</span>
						<button (click)="deleteExample(example)"
								class="c-button c-button--xs c-button--fail editor__list-item-button">
							<i class="fa fa-times fa-1hx"></i>
						</button>
					
					</li>
				</ul>
				<input [(ngModel)]="newExample.example"
					   (keyup.enter)="addExample(newExample)"
					   type="text"
					   class="c-textbox editor__list-input">
			</div>
			<div class="editor__list-wrapper" *ngIf="entityType.name === 'transitions' && entity.id">
				Ключевые слова:
				<ul class="editor__list">
					<li *ngFor="let keyword of transitionKeywords"
						class="editor__list-item">
						<span class="editor__list-item-text">{{keyword.keyword}}</span>
						<button (click)="deleteKeyword(keyword)"
								class="c-button c-button--xs c-button--fail editor__list-item-button">
							<i class="fa fa-times fa-1hx"></i>
						</button>
					
					</li>
				</ul>
				<input [(ngModel)]="newKeyword.keyword"
					   (keyup.enter)="addKeyword(newKeyword)"
					   type="text"
					   class="c-textbox editor__list-input">
			</div>
		</div>
	</div>
</div>
