<div class="c-page home">
	<div class="c-page__wrapper">
		<h2 class="c-page__header">
			<span *ngIf="!loadingState.isLoading; else loadingTRef">Сессии пользователей:</span>
			<ng-template #loadingTRef>Загрузка...</ng-template>
		</h2>
		<div *ngIf="loadingState.error" class="c-error">{{loadingState.error}}</div>
		<div class="c-chat c-chat--no-border">
			<div *ngFor="let session of sessions; trackBy: trackByProp()"
				 [routerLink]="['/sessions', session.conversationId]"
				 class="c-chat__item">
				<div class="c-chat__item-header">
					<p class="c-chat__item-sender">
						{{session.activity.from.name}} ({{session.activity.from.id}})
					</p>
					<time class="c-chat__item-datetime">{{session.activity.timestamp | date: 'medium'}}</time>
				</div>
				<div class="c-chat__item-body">
					<p>{{session.activity.text}}</p>
					<div *ngFor="let attachment of session.activity.attachments">
						{{attachment.content.text}}
					</div>
				</div>
				<a [routerLink]="['/sessions', session.conversationId]"
				   class="c-chat__item-spoiler c-link">Подробнее</a>
			</div>
		</div>
		
		<!--<ul class="c-list">-->
		<!--<li *ngFor="let session of sessions; trackBy: trackByProp()"-->
		<!--class="c-list__item">-->
		
		<!--</li>-->
		<!--</ul>-->
	</div>
</div>
