<div class="scenarios c-page">
	<div class="c-page__wrapper">
		<h2 class="c-page__header">
			<span *ngIf="!loadingState.isLoading; else loadingTRef">
				Сценарии
			</span>
			<ng-template #loadingTRef>Загрузка...</ng-template>
		</h2>
		<div class="scenarios__tools">
			<button [ladda]="loadingState.isLoading"
					(click)="add()"
					class="c-button scenarios__tool">
				<i class="fa fa-plus"></i>
			</button>
		</div>
		<div *ngIf="loadingState.error" class="c-error">
			{{loadingState.error}}
		</div>
		<table class="scenarios__table c-table">
			<tr class="c-table__row">
				<td class="c-table__cell c-table__cell--head">Сценарий</td>
				<td class="c-table__cell c-table__cell--head c-table__cell--right"></td>
			</tr>
			<tr *ngFor="let scenario of scenarios; trackBy: trackByProp()"
				class="c-table__row">
				<td (click)="edit(scenario)" class="c-table__cell c-table__cell--curp">{{scenario.title}}</td>
				<td class="c-table__cell c-table__cell--right">
					<button (click)="edit(scenario)"
							[ladda]="isLoading"
							class="c-button"><i class="fa fa-pencil"></i></button>
					<button (click)="delete(scenario)"
							[ladda]="isLoading"
							class="c-button"><i class="fa fa-times"></i></button>
				</td>
			</tr>
		</table>
	</div>
</div>
